/*  Reset  */

* { /* el selector de tot */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* --------Global styles-------- */

:root {
  font-family: system-ui, sans-serif;
  background-color: #7BABED;
  color: #091F3F;
}

body {
  overflow-x: hidden;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Main elements */
.controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.results {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card {
  background: white;
  padding: 1.5rem;
}

.pagination {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  justify-content: center;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* States */
.hidden {
  display: none;
}

#loading {
  margin-bottom: 1rem;
}

#error {
  color: #AB1915;
  margin-bottom: 1rem;
}

/* Cards */
.card {
  border-radius: 2px;
  border-color: #8269B8;
  box-shadow: 0px 5px 15px #6564644d;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
